<div class="people-container">
  <h2>People</h2>

  <div class="search-section">
    <%= form_with url: users_path, method: :get, local: true, class: "search-form" do |f| %>
      <%= f.text_field :search, 
          placeholder: "Search by username...", 
          value: params[:search],
          class: "search-input" %>
      <%= f.submit "Search", class: "search-button" %>
    <% end %>
  </div>

  <div class="users-list">
    <% if @users.any? %>
      <% @users.each do |user| %>
        <div class="user-card">
          <div class="user-info">
            <%= link_to user.user_name, user_path(user), class: "user-link" %>
          </div>
          <% if current_user != user %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p class="no-results">No users found.</p>
    <% end %>
  </div>
</div> 